/* gama colores 
  principal : #1D2948
  secundario 1: #F6F098
  secundario 2: #F0929A
  secundario 3: #5CF7E4
*/
:root {
  --font-root-size:1em;
  --bg-primario:#352775;
  --bg-secundario-1:#F6F098;
  --bg-secundario-2:#ff7927;
  --bg-secundario-3:#5fcec1;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

#container-header {
  background-color: var(--bg-primario);
  padding: .5rem 0;
}

.container-header-body{
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header-col-1 .logo-header {
  width: 160px;
}

.container-header-col-2 {
  font-weight: 600;
}

.container-header-col-2 nav .main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-header-col-2 nav .main-menu li{
  margin: 0 .4em 0 0;
  display: block;
  z-index: 10;
}

.container-header-col-2 nav .main-menu li .child-primary {
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  padding: .4em .6em;
  position: relative;
  display: block;
}

.container-header-col-2 nav .main-menu li a:hover {
  cursor: pointer;
  color: var(--bg-secundario-3)
}

.container-header-col-2 nav .main-menu li .child-primary::after {
  content: "";
  position: absolute;
  left: 0.6em;
  right: 0.6em;
  bottom: 0;
  height: 0.12em;
  background-color: var(--bg-secundario-3);
  transform: scaleX(1);
  transform-origin: 0 50%;
  transition-duration: .2s;
  transition-property: transform;
}


/******** MENU DESPLEGABLE* ***********/
.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-child {
  display: none;
  position: absolute;
  background-color: #1d2948c4;
  list-style: none;
  left: .6em;
  right: .6em;
  min-width: 150px;
  z-index: 20;
}

.dropdown:hover > .dropdown-child{
  display: block;
}

.dropdown-child li {
  padding: .5rem;
}

.dropdown-child li a{
  color: #fff;
  text-decoration: none;
}

/* ************************** */

#container-main .main-img-p {
  position: absolute;
}

.img-p-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-p-container p {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 0 2rem;
  margin-top: 5rem;
  color: var(--bg-primario)
}

#container-main .main-img-p *{
  z-index: 10;
}
#container-main .main-img-p .img-p-0{
  margin: 2rem 6rem;
  width: 650px;
}

#container-main .main-img-s .img-s-1{
  margin-top: 1rem;
  transform: rotate(180deg);
  vertical-align: top;
}

#tools-small-container {
  background: linear-gradient(0deg, rgba(29, 41, 72, 0.838) 0%, rgb(93, 195, 211) 100%);
  padding-bottom: 9rem;
} 
.tools-body {
  margin: 0 0 4rem auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tools-body-title {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 4.5rem;
}

.tools-body-title p{
  margin: 1rem 8rem;
}


#tools-small-container-2 {
  margin: -12rem 2rem 0 2rem;
} 

.tools-body figure{
  background-color: #fff;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2.2rem;
  border: 1px solid #ccc;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tools-body figure img{
  max-width: 140px;
}

.tools-body figure .tools-b-title{
  padding: 1.2rem;
  color: #1c253c;
  font-size: 2rem;
  text-align: center;
}

.tools-body figure .tools-b-description, .tools-body figure .tools-b-sub-description{
  padding: 5px;
  color: #000;
  text-align: center;
  font-size: 1.1rem;
  list-style: none;
}
.tools-body figure .tools-b-sub-title{
  text-align: center;
  padding: 1.2rem;
  color: var(--bg-primario);
  font-size: 1.2rem;
}

.tools-body figure .tools-b-sub-description li{
  padding: .5rem 0;
}

.testimonios-container {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  color: #1c253c;
}

.testimonios-container .testimonio-titulo {
  font-size: 2rem;
}

.testimonios-container .testimonio-img{
  width: 150px;
  height: 150px;
  border-radius: 999px;
  background-size: cover;
}

.testimonios-container .testimonio-texto{
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 4rem;
}

footer {
  margin-top: 3rem;
  background-color: #1c253c;
  padding: 2rem;
}

.footer-container {
  width: 100%;
  margin: auto;
  color: #fff;
}

.footer-body {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
}

.footer-child {
  display: flex;
  justify-content: center;
  width: 30%;
  text-align: center;
}

.child-first{
text-align: center;
}

.child-first img{
  width: 200px;
}

.child-first h1 {
  font-size: 1.5rem;
}

.child-first h4 {
  font-weight: 300;
}

.footer-redes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-redes a{
  margin: 10px;
  text-decoration: none;
  padding: .5rem;
  border: 1px solid var(--bg-secundario-3);
  border-radius: 1rem;
  color: #fff;
}

.footer-redes a:hover{
  background-color: var(--bg-secundario-3);
  color: var(--bg-primario);
  border: 1px solid transparent;
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  :root {
      --font-root-size:1.25em;
  }
}